body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  scroll-behavior: smooth;
  line-height: 1;
  box-sizing: border-box;

  /*
    Font-smoothing is a non-standard feature. Read more:
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set monospace font for <code> elements */
code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
